<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="MasterPage.master.cs" Inherits="test.Master.MasterPage" %>

<!DOCTYPE html>
<link href="../Theme/style1.css" rel="stylesheet" />
<html>
<head runat="server" class="header">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
                <ul>
                    <li><a id="A1" href="../Pages/Trangchu.aspx" runat="server">Trang chủ</a></li>
                    <li><a id="A2" href="../Pages/Tintuc.aspx" runat="server">Tin tức</a></li>
                    <li><a id="A3" href="../Pages/Tacgia.aspx" runat="server">Tác giả</a></li>
                    <li><a id="A4" href="../Pages/Chude.aspx" runat="server">Chủ đề</a></li>
                </ul>
            <section style="width: 750px; float: left;">
                   <asp:ContentPlaceHolder ID="cpMainContent" runat="server"></asp:ContentPlaceHolder>
            </section>
    </form>          
</body>
</html>
